h1{
    color:maroon;
}
/* body{
    background-color: rgb(224, 211, 211);
} */
.post{
    background-color: rgb(208, 209, 151);
}
.user{
    color: rgb(3, 3, 3);
    /* background-color: cadetblue; */
    font-style: italic;
}
.content{
    color: black;
    /* background-color: darkseagreen; */
}
