h1{
    color:maroon;
}
/* body{
    background-color: rgb(224, 211, 211);
} */
.posts{
    background-color: rgb(49, 201, 77);
}
.user{
    color: rgb(228, 228, 123);
    background-color: cadetblue;
}
.content{
    color: black;
    background-color: darkseagreen;
}
