body{
    margin-left: 20px;

}


.chat{
    background-color:darkturquoise ;
    padding: 20px;
    border-radius:16px ;
    display: inline-block;
}
.message{
    background-color: rgb(56, 122, 220);
    color: white;
    padding: 5px 15px;
    border-radius:16px ;
}