<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>HOME PAGE</title>
    <style>
        table,th,td{
            border:1px solid black;
        }
    </style>
</head>
<body>
    <h2>The total number of users are:<%= count %></h2>
    <button>Join Us Today!</button>
    
</body>
</html>